.knife {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 85%;
  left: 90%;
}

.eggplant {
  animation-name: eggplant;
  animation-duration: 1.3s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  position: absolute;
}

@keyframes eggplant {
  0% {
    top: -200px;
    left: 40%;
    rotate: (-90deg);
    animation-timing-function: cubic-bezier(0.54, 0, 0.97, 0.8);
  }
  40% {
    top: 300px;
    left: 44%;
    transform: rotate(-24deg);
  }

  70% {
    top: 350px;
    left: 52%;
    transform: rotate(4deg);
  }
  100% {
    top: 340px;
    left: 50%;
    transform: rotate(-4deg);
  }
}

.eggplant_bounce {
  animation-name: eggplant_bounce;
  animation-duration: 2.8s;
  animation-delay: 2.3s;
  position: absolute;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
@keyframes eggplant_bounce {
  0% {
    transform: translateX(0px) rotate(0deg);
  }
  40% {
    transform: translateX(0px) rotate(0deg);
  }
  80% {
    transform: translateX(0px) rotate(-1deg);
  }

  87% {
    transform: translateX(6px) rotate(4deg);
  }
  100% {
    transform: translateX(0px) rotate(0deg);
  }
}

.pomegranate {
  animation-name: pomegranate;
  animation-duration: 1.6s;
  animation-delay: 0.27s;
  animation-fill-mode: forwards;
  position: absolute;

  top: -300px;
  left: 40%;
}

@keyframes pomegranate {
  0% {
    transform: translateX(150px) translateY(10px) rotate(0deg);

    animation-timing-function: cubic-bezier(0.48, 0.02, 1, 0.98);
  }
  30% {
    transform: translateX(150px) translateY(450px) rotate(0deg);
    animation-timing-function: cubic-bezier(0.45, 0.05, 0.64, 0.99);
  }
  70% {
    transform: translateX(-100px) translateY(660px) rotate(-195deg);

    animation-timing-function: cubic-bezier(0.45, 0.05, 0.64, 0.99);
  }

  100% {
    transform: translateX(-140px) translateY(860px) rotate(-100deg);
  }
}

.pomegranate_rotate {
  animation-name: pomegranate_rotate;
  animation-duration: 2.8s;
  animation-delay: 3.6s;
  animation-fill-mode: forwards;
  position: absolute;
  animation-iteration-count: infinite;
  top: 0px;
  transform-origin: center;
}
@keyframes pomegranate_rotate {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }

  75% {
    transform: translateX(16px) translateY(-80px) rotate(-70deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

.lemon_1 {
  animation-name: lemon_1;
  animation-duration: 0.7s;
  animation-delay: 1.48s;
  animation-fill-mode: forwards;
  position: absolute;
  top: -120px;
  left: 45%;
  rotate: -30deg;
}
@keyframes lemon_1 {
  0% {
    top: -120px;
    left: 45%;
    transform: rotate(-30deg);
    animation-timing-function: cubic-bezier(0.54, 0.01, 0.38, 1.4);
  }

  100% {
    top: 175px;
    left: 45%;
    transform: rotate(30deg);
  }
}

.lemon_1_bounce {
  animation-name: lemon_1_bounce;
  animation-duration: 2.8s;
  animation-delay: 4.1s;
  position: absolute;
  animation-iteration-count: infinite;
  top: auto;
  left: 45%;
  animation-timing-function: cubic-bezier(0.54, 0.01, 0.38, 1.4);
}
@keyframes lemon_1_bounce {
  0% {
    transform: translateY(0px);
  }
  8% {
    transform: translateY(-50px);
  }
  16% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}
.lemon_2 {
  animation-name: lemon_2;
  animation-duration: 0.5s;
  animation-delay: 1.35s;
  animation-fill-mode: forwards;
  position: absolute;
  top: 340px;
  left: 100px;
}

@keyframes lemon_2 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(50deg);
    left: 60px;
  }
}

.lemon_2_bounce {
  animation-name: lemon_2_bounce;
  animation-duration: 2.82s;
  animation-delay: 3s;
  position: absolute;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.54, 0.01, 0.38, 1.4);
}
@keyframes lemon_2_bounce {
  0% {
    transform: translateY(0px);
  }
  8% {
    transform: translateY(-7px);
  }
  16% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}

.scale_hover {
  animation-name: scale_hover;
  transition: transform 0.25s ease;
  transform-origin: center;
}

.scale_hover:hover {
  transform: scale(1.1);
}

.text {
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.scale_hover:hover + .text {
  opacity: 1;
}

/*slice*/
.lemon_click {
  overflow: visible;
}
.lemon_slice,
.lemon_slice_2 {
  position: absolute;
  top: 16px;
  left: 20px;
  opacity: 0;
  transition: 0.8s ease, opacity 0.5s ease;
}

.lemon_click:active .lemon_slice {
  top: -70px;
  left: 215px;
  opacity: 1;
  transition: 0.53s;
  transform: rotate(75deg);
}

.lemon_click:active .lemon_slice_2 {
  top: -53px;
  left: 172px;
  opacity: 1;
  transition: 0.48s;
  transform: rotate(30deg);
}

.eggplant_click {
  overflow: visible;
}
.eggplant_slice_1 {
  position: absolute;
  top: 32px;
  left: 32px;
  opacity: 0;
  transition: 0.8s ease, opacity 0.5s ease;
}

.eggplant_click:active .eggplant_slice_1 {
  top: 190px;
  left: 400px;
  opacity: 1;
  transition: 0.8s;
  transform: rotate(310deg);
}

/*seed*/

.pomegranate_click {
  overflow: visible;
}

.seed_A_1,
.seed_A_2 {
  position: absolute;
  top: 0px;
  left: 80px;
  opacity: 0;
  transition: 0.5s ease, opacity 0.2s ease;
  transform: rotate(90deg);
}
.seed_A_3 {
  position: absolute;
  top: 0px;
  left: 80px;
  opacity: 0;
  transition: 0.8s ease, opacity 0.5s ease;
  transform: rotate(90deg);
}
.seed_B_1 {
  position: absolute;
  top: 0px;
  left: 80px;
  opacity: 0;
  transition: top 0.3s ease, left 0.3s ease, opacity 0s ease;
  transform: rotate(90deg);
}

.seed_B_2 {
  position: absolute;
  top: 0px;
  left: 80px;
  opacity: 0;
  transition: top 0.4s ease, left 0.4s ease, opacity 0.1s ease;
  transform: rotate(90deg);
}

.seed_B_3 {
  position: absolute;
  top: 0px;
  left: 80px;
  opacity: 0;
  transition: top 0.6s ease, left 0.6s ease, opacity 0.3s ease;
  transform: rotate(90deg);
}

.seed_B_4 {
  position: absolute;
  top: 0px;
  left: 80px;
  opacity: 0;
  transition: top 1s ease, left 1s ease, opacity 0.7s ease;
  transform: rotate(90deg);
}

.seed_C_1,
.seed_C_4 {
  position: absolute;
  top: 0px;
  left: 80px;
  opacity: 0;
  transition: top 0.6s ease, left 0.6s ease, opacity 0.3s ease;
  transform: rotate(90deg);
}

.seed_C_2 {
  position: absolute;
  top: 0px;
  left: 80px;
  opacity: 0;
  transition: top 0.55s ease, left 0.55s ease, opacity 0.25s ease;
  transform: rotate(90deg);
}

.seed_C_3,
.seed_C_5,
.seed_C_6 {
  position: absolute;
  top: 0px;
  left: 80px;
  opacity: 0;
  transition: top 0.8s ease, left 0.8s ease, opacity 0.5s ease;
  transform: rotate(90deg);
}

.seed_C_7 {
  position: absolute;
  top: 0px;
  left: 80px;
  opacity: 0;
  transition: top 1.2s ease, left 1.2s ease, opacity 0.9s ease;
  transform: rotate(90deg);
}

/* 결합 */
/* A */
.pomegranate_click:active .seed_A_1 {
  top: -190px;
  left: 80px;
  opacity: 1;
}

.pomegranate_click:active .seed_A_2 {
  top: -200px;
  left: 50px;
  opacity: 1;
}

.pomegranate_click:active .seed_A_3 {
  top: -170px;
  left: 57px;
  opacity: 1;
}

/* B */
.pomegranate_click:active .seed_B_1 {
  top: 150px;
  left: 320px;
  opacity: 1;
}

.pomegranate_click:active .seed_B_2 {
  top: 178px;
  left: 315px;
  opacity: 1;
}

.pomegranate_click:active .seed_B_3 {
  top: 150px;
  left: 280px;
  opacity: 1;
}
.pomegranate_click:active .seed_B_4 {
  top: 220px;
  left: -60px;
  opacity: 1;
}

/* C */
.pomegranate_click:active .seed_C_1 {
  top: 620px;
  left: 220px;
  opacity: 1;
}
.pomegranate_click:active .seed_C_2 {
  top: 620px;
  left: 190px;
  opacity: 1;
}
.pomegranate_click:active .seed_C_3 {
  top: 500px;
  left: 120px;
  opacity: 1;
}
.pomegranate_click:active .seed_C_4 {
  top: 650px;
  left: 148px;
  opacity: 1;
}
.pomegranate_click:active .seed_C_5 {
  top: 820px;
  left: 67px;
  opacity: 1;
}

.pomegranate_click:active .seed_C_6 {
  top: 860px;
  left: 50px;
  opacity: 1;
}

.pomegranate_click:active .seed_C_7 {
  top: 900px;
  left: -20px;
  opacity: 1;
}
